.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px 1fr;
    max-width: 1020px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 1px 4px 0px rgba(69, 75, 87, 0.12), 0px 0px 0px 1px rgba(152, 161, 178, 0.10);
}

.head {
    background: rgba(244, 247, 252, 0.75);
    backdrop-filter: blur(4px);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    height: 65px;
}

.head .cell {
    cursor: pointer;
}

.head .cell:hover {
    color: #2264E5;
    transition: color 0.3s ease-out;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 0 20px;
    gap: 15px;
}

.row:nth-child(2n) {
    background-color: #F9FAFC;
}

.body {
    display: grid;
    grid-template-columns: auto;
    padding-top: 35px;
}


.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.28px;
}

.cell {
    height: 64px;
    display: flex;
    max-width: 100px;
    align-items: center;
}

.button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.descending {
    background-image: url("../../images/downsort.svg");
    background-position: center;

}

.ascending {
    background-image: url("../../images/upsort.svg");
    background-position: center;
}

.descending:hover {
    background-image: url("../../images/downsorthover.svg");
}

.ascending:hover {
    background-image: url("../../images/upsorthover.svg");
}